<app-nav-bar>

    <mat-tab-group>
        <mat-tab label="Ingresar empleado"> 
            <app-form [title]="titleForm" [fields]="fields" (sendData)="addEmpleado($event)"></app-form>    
        </mat-tab>
        <mat-tab label="Ver horas cargadas"> 
            <app-search [data]="dataSearch" (sendData)="getListHoras($event)"></app-search>
            <app-table [hidePaginator]="true" [displayedColumns]="columnsHoras" [dataSource]="horasCargadas"></app-table>
        </mat-tab>
        <mat-tab label="Lista de empleados" (click)="getListEmpleados()">
            <app-table [displayedColumns]="columns" [dataSource]="empleados" (sendData)="deleteEmpleado($event)"></app-table>
        </mat-tab>
    </mat-tab-group>

</app-nav-bar>